<template>

    <div class="card credential-card">

        <div class="card-body">

            <h4 class="card-title">
                {{ credential.name }}
            </h4>

            <div class="row">

                <div class="col-4 label">
                    Url
                </div>

                <div class="col-8">
                    <div class="value">{{ credential.url }}</div>
                </div>

            </div>

            <div class="row">

                <div class="col-4 label">
                    Username
                </div>

                <div class="col-8">
                    <div class="value">{{ credential.username }}</div>
                </div>

            </div>

            <div class="row">

                <div class="col-4 label">
                    Password
                </div>

                <div class="col-8" @click="fetchPassword">
                    <div class="text-monospace" v-if="passwordIsShowing">{{ this.password }}</div>

                    <div class="text-monospace" v-else>**********</div>
                </div>

            </div>

        </div>

        <div class="card-footer">

            <a href="" class="card-link edit-credential" @click.prevent="editCredential">Edit</a>
            <a href="" class="card-link delete-credential" @click.prevent="deleteCredentialPopup">Delete</a>

        </div>

    </div>

</template>

<script type="text/babel">

  import api from './../api';

  export default {
    props: ['credential'],

    data() {
      return {
        timeoutSeconds: 10,
        password: false,
      }
    },

    computed: {
      passwordIsShowing() {
        return this.password;
      },
    },

    methods: {
      fetchPassword() {
        api.get('/api/credentials/' + this.credential.id + '/password').then((response) => {
          this.handlePassword(response.data.password);
        });
      },

      handlePassword(password) {
        this.password = password;

        this.scheduleHidePassword();
      },

      hidePassword() {
        this.password = false;
      },

      scheduleHidePassword() {
        setTimeout(this.hidePassword, this.timeoutSeconds * 1000);
      },

      editCredential() {
        this.$vueEventBus.$emit('editCredential', this.credential);
      },

      deleteCredentialPopup() {
        this.$swal({
          title: 'Are you sure?',
          text: 'You won\'t be able to recover the credentials for "' + this.credential.name + '"!',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, Delete credential!',
          cancelButtonText: 'No, Keep credential!',
          showCloseButton: true,
          showLoaderOnConfirm: true
        }).then((result) => {
          if (result.value) {
            this.deleteCredential();

            this.$swal({
              title: 'Deleted credential',
              text: 'We have successfully deleted your credential!',
              type: 'success',
            });
          }
        });
      },

      deleteCredential() {
        api.delete('/api/credentials/' + this.credential.id).then((response) => {
          this.$vueEventBus.$emit('credentialDeleted', response.data.credential);
        });
      }
    }
  }

</script>
