<template>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand" href="#">Vault</a>

            <ul class="navbar-nav mr-auto" v-if="$store.state.isLoggedIn">
                <li class="nav-item">
                    <button class="nav-link btn btn-sm btn-secondary" @click="fireNewCredential">
                        <font-awesome-icon icon="plus-circle" />
                        Credential
                    </button>
                </li>
            </ul>

            <credentials-search v-if="$store.state.isLoggedIn"></credentials-search>

            <ul class="navbar-nav ml-auto" v-if="$store.state.isLoggedIn">
                <li class="nav-item">
                    <a class="nav-link" href="" @click.prevent="logout">Logout</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" v-if="!$store.state.isLoggedIn">
                <li class="nav-item">
                    <router-link :to="{ name: 'login' }" class="nav-link">Login</router-link>
                </li>
            </ul>

        </div>

    </nav>

</template>

<script type="text/babel">

  import routes from './../routes';
  import CredentialsSearch from './../components/CredentialsSearch';

  export default {
    components: {
      CredentialsSearch
    },

    methods: {
      fireNewCredential() {
        this.$vueEventBus.$emit('newCredential');
      },

      logout() {
        this.$store.commit('logoutUser');

        localStorage.removeItem('token');

        this.$router.push({
          name: 'login'
        });
      }
    },
  }

</script>
