<template>

    <div>

        <div class="container">

            <credentials></credentials>

        </div>

    </div>
    
</template>

<script type="text/babel">

  import Credentials from './../components/Credentials';

  export default {
    components: {
      Credentials
    },

    data() {
      return {};
    }
  }
</script>
